@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$h1: 89.76px;
$h2: 67.34px;
$h3: 50.52px;
$h4: 37.9px;
$h5: 28.43px;
$h6: 21.33px;
$p: 16px;
$primary-color: #5c00d2;
$primary-font-color: white;
$primary-background: #fef6ff;
$secondary-background: #8b00dd;
$heading-font: Roboto, sans-serif;

.wrapper {
    width: 800px;
    height: 150px;
    background-color: white;
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 0px 3px black;
    padding: 5px;

    > :first-child {
        width: 25%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >h5 {
            font-size: 20px;
            margin-top: 10px;
            color: black;
        }
    }

    > :last-child {
        width: 75%;
        backdrop-filter: blur(20px);
        padding: 10px;
        border-radius: 15px;
        background-color: $primary-color;
        color: $primary-font-color;

        >p {
            padding: 8px;
            font-size: 18px;
            font-family: 'Inter', sans-serif;
            font-weight: 300;
        }

        >p {
            >span {
                padding-left: 15px;
                font-size: 18px;
                font-weight: bold;

                >:first-child {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

    }

    &:hover {
        outline: 2px solid greenyellow;
    }
}

.icon {
    font-size: 45px;
    background-color: $primary-background;
    color: $primary-color;
    padding: 10px;
    border-radius: 50%;
}

.alert {
    color: red;
}

.url{
    &:hover{
        text-decoration: underline;
    }
}