// @import url(../../utils/_partial.scss);


$h1: 89.76px;
$h2: 67.34px;
$h3: 50.52px;
$h4: 37.9px;
$h5: 28.43px;
$h6: 21.33px;
$p: 16px;

$primary-color: #5c00d2;
$primary-font-color: white;
$primary-background-color: #fef6ff;
$secondary-color: #8b00dd;

$heading-font: Roboto, sans-serif;

footer{
    margin-top: 30px;
    height: 69px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-font-color;
}